#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  font-size: 1.1rem;
  color: black;
  word-wrap: break-word;
  width: 100%;
}

img {
  width: 450px;
  max-width: 100%;
  object-fit: contain;
}

.container {
  max-width: 450px;
  width: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Animación */
  animation: pop-in 0.8s ease-out forwards;
  opacity: 0;
  /* para que inicie invisible y se revele con la animación */
  transform: scale(0.95);
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}